.photo {
background-image: url('https://s7g8.scene7.com/is/image/BradfordUK/0132872001_alt2?wid=700&hei=700&fmt=pjpeg&qlt=85,0');
background-position: center;
background-repeat: no-repeat;
background-size: 100% 100%;
height: 100vh;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 100px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  box-sizing: content-box;
/*   align-items: center;
  justify-content: center;
 */}

.btn-ghost:hover {
  opacity: 1;
}

.show-container {
  width: 500px;
  height: 600px;
  box-shadow: 10px 5px 5px grey;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-container {
  margin: auto;
  margin-bottom: 10px;
}

#theme {
  margin-bottom: 4px;
}

#date {
  margin-bottom: 2px;
}

