<div class="container mt-5 mb-3">

  <h2 class="mb-4">Welcome, <%= current_user.fullname %></h2>

  <h3 class="mb-3">Here is your activities</h3>

  <%= render 'activities/partials/cards_activities' %>

  <%= link_to 'Add one' '<i class="fa-solid fa-wand-sparkles" style="color: #5a5d63;"></i>'.html_safe, new_activity_path, class: "btn btn-ghost d-grid gap-2 col-2 mx-auto mt-5" %>
</div>
