.form-container{
  z-index: 1;
  font-weight: bold;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  // background-image: asset-url("castle.jpg");
  background-size: cover;
  background-position: center;
  // box-shadow: 10px 5px 5px grey;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 35px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
    h1{
      color: whitesmoke;
      text-align: center;

    }
    label{
      opacity: 0;
    }
}
.input-case{
  color: black;
  opacity: 0.7;
  padding: 14px;
}
