.modal-container{
  border-radius: 5px;
  background-color: rgb(238, 228, 228);
  padding-bottom: 15px;
}
.modal-header{
  border-bottom: none;
}
.title-modal{
  color: black;
  font-family: dumbledor;
  font-size: 50px;
}

.btn-ghost-modal {
  color: black;
  border: 1px solid black;
  padding: 8px 100px;
  border-radius: 50px;
  font-family: harryp;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 40px;

    &:hover {
      background-color: rgba(223, 185, 90, 0.707);
    }
}
