.navbar-lewagon {
  justify-content: space-between;
  background: rgb(238, 228, 228);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
