.navbar-transparent {
  justify-content: space-between;
  // background: rgb(238, 228, 228);
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 85px;
  font-family: harryp;
}

.navbar-transparent .navbar-collapse {
  flex-grow: 0;
  font-size: 25px;
}

.navbar-transparent .navbar-brand img {
  width: 70px;
}

#site-name {
  font-size: 30px;
}
