<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551269901-5c5e14c25df7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2338&q=80);">
  <div class="container">
    <h1>Hogwarts Academy teaches<strong> magical proficiency</strong> to <strong>extraordinary people</strong>!</h1>
    <p>Dive into an enchanted world and explore the mysteries of magic at Hogwarts Academy, where dreams come true and extraordinary powers are revealed!</p>
    <a class="btn btn-warning btn-lg" href="#">Afficha profilus <i class="fa-solid fa-wand-magic-sparkles fa-beat-fade" style="color: #00000;"></i></a>
  </div>
</div>
