<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-broom-ball"></i></a>
    <a href="#"><i class="fa-solid fa-hat-wizard"></i></a>
    <a href="#"><i class="fa-solid fa-wand-sparkles"></i></a>
    <a href="#"><i class="fa-solid fa-feather-pointed"></i></a>
  </div>
  <div class="footer-copyright">
    This website was made with love and magic <i class="fas fa-heart"></i>
  </div>
</div>
