<h1>Edit your activity</h1>

<%= render "activities/partials/new_form", activity: @activity %>

<br>

<div>
  <%= link_to "Show this activity", @activity %> |
  <%= link_to "Back to my activities", dashboards_path %>
</div>
