<%= render 'shared/banner' %>

<%= render 'shared/search-form' %>

<div class="container mb-5">
  <p class="homepage-text">Welcome to the enchanted world of our website dedicated to magical activities! Immerse yourself in an extraordinary experience where magic blends with adventure, offering a captivating range of activities that will delight both young and old.

  Our unique platform invites you to explore a fairy-tale universe, where each click opens the doors to an exciting magical activity. Whether you're a curious novice or a long-time enthusiast, our site is filled with enchanting options for every taste and age.

  Imagine clicking on an intriguing activity and suddenly finding yourself transported to a world full of mystery. Magic classes to learn the secrets of the most talented illusionists, dazzling shows where objects come to life, bewitching escape games that will test your logic, or even potion workshops where you can concoct enchanting brews. The power is in your hands.

  Embark on a journey into a wonderland by clicking on the activity of your choice. Let magic envelop you as you embark on a thrilling adventure. Prepare to be amazed, astonished, and captivated by magical moments that you will never forget.

  Join us now and let yourself be enchanted by the infinite possibilities that await with just a simple click. Unveil the secret world of magic and create magical memories that will last a lifetime.</p>
</div>

<%= turbo_frame_tag "activities" do %>
  <div class="container">
    <div class="cards">
      <%= render @activities %>
    </div>
  </div>
<% end %>
