<%= render 'shared/partials/banner' %>

<%= render 'shared/partials/search_form' %>

<%= turbo_frame_tag :activities, target: "_top" do %>
  <div class="container">
    <div class="cards">
      <%= render 'activities/partials/cards_activities' %>
    </div>
  </div>
<% end %>
